.container
  %h1 Tasks Status
  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th Task
        %th Total
        %th Finished
        %th Failed
        %th Success rate
    %tbody
      - tasks[:counters].each do |task_id, task|
        %tr{class: task_status(task)}
          %td= link_to task[:site_name], routes.task_statistics_path(task_id)
          %td= task[:total_jobs]
          %td= task[:finished_jobs]
          %td= task[:failed_jobs]
          %td= task[:success_rate]


  %h2 Processed urls
  = pagination_nav pagination_data

  %table.table.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th URL
        %th Status
        %th Date
    %tbody
      - pages.each do |page|
        %tr{class: page.event_type}
          %td= page.url
          %td= page.event_type
          %td= page.created_at

