.container
  %h1= 'OmniScrapperHQ Status'

%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th Task
      %th Total
      %th Finished
      %th Failed
      %th Success rate
  %tbody
    - tasks.each do |task_id, task|
      %tr{class: task_status(task)}
        %td= link_to task[:site_name], routes.task_statistics_path(task_id)
        %td= task[:total_jobs]
        %td= task[:finished_jobs]
        %td= task[:failed_jobs]
        %td= task[:success_rate]

