.actions
  = link_to 'Create new site', routes.new_site_path, class: 'btn btn-success'

%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th Name
      %th Url
      %th
  %tbody
    - sites.each do |site|
      %tr
        %td= link_to site.name, routes.site_path(site.id)
        %td= link_to site.url, site.url, target: '_blank'
        %td
          = edit_button(routes.edit_site_path(site.id))
          = remove_button(routes.site_path(site.id))

= pagy_bootstrap_nav(pagy_data)

