.navbar.navbar-expand-sm.navbar-dark.bg-dark
  = link_to 'OmniScrapper HQ', routes.root_path, class: "navbar-brand", style: 'margin-bottom: 0'

  %button.navbar-toggler{ type: "button", "data-toggle" => "collapse",
    "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent",  "aria-expanded" => false, "aria-label" => "Toggle navigation" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Sites', routes.sites_path, class: "nav-link"
      %li.nav-item
        = link_to 'Schemas', routes.schemas_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Tasks', routes.tasks_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Results', routes.test_results_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Sidekiq', '/sidekiq', class: 'nav-link'


.flash
  - if flash[:error]
    .alert.alert-danger
      = flash[:error]

  - if flash[:success]
    .alert.alert-success
      = flash[:success]
