.actions
  = link_to 'Add task', routes.new_task_path, class: 'btn btn-success'

%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th Name
      %th Site
      %th Schema
      %th
  %tbody
    - tasks.each do |task|
      %tr
        %td= link_to task.name, '#'
        %td= link_to task.site_id, '#'
        %td= link_to task.schema_id, '#'
        %td
          = edit_button(routes.edit_task_path(id: task.id))
          = button_for(routes.dry_runs_path(task_id: task.id), 'primary', 'vial')
          = button_for(routes.single_runs_path(task_id: task.id), 'success', 'play')
= pagy_bootstrap_nav(pagy_data)
