<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OmniScrapper HQ</title>

    <%= favicon %>
    <%= stylesheet 'application' %>
    <%= javascript 'jsoneditor.min' %>

		<script src="https://kit.fontawesome.com/d3179d38f0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>

    <div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
